/ Button trigger modal
- @did = new_did_for_labor labor
%button.btn.btn-primary.btn-xs{"data-target" => "#myModal-#{@did.labor.id}", "data-toggle" => "modal", type: "button"}
  Oops I did it again
/ Modal
.modal.fade{id: "myModal-#{@did.labor.id}", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Select the time when you did your labor
      .modal-body
        = simple_form_for [@did.labor, @did] do |f|
          = render 'dids/form', f: f
