!!! 5

%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv'.to_sym => 'Content-Type'}
  %body
    %h1 Welcome, ETHAN!
    %p You have successfully sent an email from FHW (mailer edition...)
    %p that is all.
    = link_to 'example', 'www.example.com'
