!!! 5

%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv'.to_sym => 'Content-Type'}
  %body
    = yield

    %hr
    %footer
      P.S.
      %i How are we doing?
      Tell Ethan if you're having problems with the website.
